$color-grey: #F8F8F8;
$color-grey-dark: #DDDDDD;
$color-blue: #29A1E6;

$base-spacing-unit: 20px;
$half-spacing-unit: 10px;
$quarter-spacing-unit: 5px;

$base-font-size: 14px;
$base-border-radius: 2px;

$sidebar-width: 250px;
$content-width: 1200px;
